<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>MatBarr : webpingouin</title>
  </head>
  <body>

	<link href="{{ url_for('static', filename='css/style_base.css') }}" rel="stylesheet">

<table class="choix">
	<tr>
		<td><form action={{url_for('index')}} method="post"><input type="submit"  value="Accueil"></form></td>
    <td><form action={{url_for('data')}} method="get"><input type="submit"  value="Data et IA"></form></td>
    <td><form action={{url_for('aide_memoire')}} method="get"><input type="submit"  value="Aide mémoire"></form></td>
    <td><form action={{url_for('lien')}} method="get"><input type="submit"  value="Liens utiles"></form></td>
    <td><form action={{url_for('cv')}} method="post"><input type="submit"  value="CV"></form></td>
	</tr>
</table>
    {% block content %}{% endblock %}
  </body>
  <footer>
    Pour faire ce site, j'ai utilisé les cours de <a href="https://openclassrooms.com/fr/">OpenClassRoom</a> et de <a href="https://www.studi.com/fr">studi</a><br>
  </footer>
</html>
