{% extends 'base.html' %}

{%block content %}

<h1>Bienvenue sur mon premier site avec Flask</h1>

<p class="presentation">
    Bienvenue sur mon site.<br>
    Vous pouvez naviguer parmis les différentes rubriques en cliquant sur les boutons en haut de la page.<br>
    La premiere rubrique concerne la data et l'IA.<br>
    La deuxieme me sert principalement d'aide mémoire pour certaines applications.<br>
    Il y a une section avec des liens vers des sites qui peuvent vous permettre d'aller plus loin.<br>
    Et enfin, je suis en recherche de travail, vous trouverez mon CV dans la dernière partie.<br>
</p>


{% endblock %}