{% extends 'base.html' %}

{%block content %}
<h1>Liens vers des sites sympas</h1>
<p>
<ul>
    <li><a href="https://www.sebsauvage.net">le site de sebsauvage et de son shaarli</a></li>
    <li><a href="https://korben.info/">le site de Korben</a></li>
    <li><a href="http://www.phoenixjp.net">news en vrac</a></li>
    <li>
        <a href="https://github.com/quillaur/data_learning/blob/main/data_science/machine_learning/supervised_learning/lstm-btc-studi.ipynb">github
            de Aurelien Quillaur pour du machine Learning</a></li>
</ul>
Liens vers les sites de copain:
<ul>
    <li><a href="http://www.psysurfeur.com/">psysurfeur.com<</a> Obligé de lui faire de la pub. C'est mon fournisseur
        officiel de café ;-D
    </li>
</ul>
<p>

    {% endblock %}