blinker
click
contourpy
cycler
Flask
Flask-WTF
fonttools
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyarrow
pyparsing
python-dateutil
python-dotenv
pytz
seaborn
six
scikit-learn
tzdata
Werkzeug
WTForms
